@model ShopApp.WebUI.Models.Product;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    @*<h1>@ViewData["Category"]</h1>
        <h2>@(((Product)ViewData["Product"]).Name)</h2>
        <h2>@(((Product)ViewData["Product"]).Price)</h2>
        <h2>@(((Product)ViewData["Product"]).Description)</h2>*@

    @*<h1>@ViewBag.Category</h1>
        <h2>@ViewBag.Product.Name</h2>
        <h2>@ViewBag.Product.Price</h2>
        <h2>@ViewBag.Product.Description</h2>*@

    <h1>Ürünler</h1>
    <h2>@Model.Name</h2>
    <h2>@Model.Price</h2>
    <h2>@Model.Description</h2>

</body>
</html>